<%- include('partials/header'); -%>
    <h1>Contact Us</h1>
    <p>
        <%= contactContent %>
    </p>
    <a href="/"><button class="btn btn-primary return-home">Back to Home Page</button></a>

    <%- include('partials/footer'); -%>